<!DOCTYPE html>
<html lang="en" ng-app="microBlog">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mirco Blog (Personal)">
    <meta name="author" content="Saad Bin Shahid">

    <title>Saad's Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- ionicons icons CSS -->
    <link href="css/ionicons.min.css" rel="stylesheet">
    
    
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    
    <!-- Angular js min -->
    <script src="app/angular.min.js"></script>
    <script src="app/app.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    		<a href="#" ng-controller="mainMenuCtrl as mainmenu" ng-click="mainmenu.changeState()">show / hide menu</a>
	
	
    <div id="wrapper" ng-controller="mainMenuCtrl as mainmenu" ng-class="{'toggled':mainmenu.toggleState()}">
		

	
	
	
	
	
	
	
        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-controller="menuBarItemCtrl as m">
            <ul class="sidebar-nav">
					<li class="h3">
						Geeky Engineer
					</li>

					<li ng-repeat="catagory in m.catogies">
						<a href="#" ng-class="{'text-center':m.isSelectCatogory(catagory)}" ng-click="m.selectCatogory(catagory)">{{ catagory.title }}</a>
					</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                
                
                
                <div id = "header" class="row">
                        <a href="" ng-controller="mainMenuCtrl">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    <div class="logo">
                        <h2>Geeky Engineer 
                            <i class="ion-university"></i>
                        </h2>
                    </div>
                </div>
                
                
                                <!-- EXPERIMENT HERE -->
                
                
                

                <div ng-controller="addPost">
				
				<form>
					<input type="text" name="title" ng-model="post.title"></input>
					<input type="text" name="content" ng-model="post.content"></input>
					</form>
				
			<div>
				{{post.title}}
				</div>
							<div>
				{{post.content}}
				</div>
				
				</div>
                
                
                
                                <!-- EXPERIMENT HERE -->
                
                
                
                <!-- default micro blog templete -->


                <div class="row" ng-controller="blogCtrl as blog">
                    <div class="col-lg-12" ng-repeat="blog in blog.blogCollection">
                        <h1>{{ blog.title }}</h1>
                        <p>
                            {{ blog.content }}
                        </p>
                        {{1+1}}
                    </div>
                </div>

                <!-- default micro blog templete -->

                
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $(".menu-toggle-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
